/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 27, 2014, 10:06:58 PM
    Author     : rogan2929
*/

* {
    /* Disable all of those annoying little zoom and selection features that browsers sometimes have. */
    -webkit-user-drag: none;
    -webkit-user-modify: none;
    -webkit-highlight: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: Verdana, Geneva, sans-serif;
}

.tile {
    display: inline-block;
    text-shadow: none !important;
    margin: 4px;
}

.bevel-shadow {
    -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75), inset 0 0 15px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.75), inset 0 0 15px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.75), inset 0 0 15px 0px rgba(50, 50, 50, 0.75);
}

.hidden {
    display: none;
}

.color1 {
    background-color: #ffd761;
}

.color2 {
    background-color: #90d3f0;
}

.color3 {
    background-color: #f6898c;
}

.color4 {
    background-color: #a1d162;
}

.color5 {
    background-color: #e7d5c1;
}

.color6 {
    background-color: #4FE7E7;
}

.color7 {
    background-color: #FFF12A;
}

.color8 {
    background-color: #C299F7;
}

.h-centered {
    text-align: center;
}

.quarter {
    width: 25%;
    max-width: 150px;
}


.third {
    width: 33%;
    max-width: 200px;
}

.half {
    width: 50%;
    max-width: 300px;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

absolute.fill-horizontal {
    left: 0;
    right: 0;
}

absolute.fill-vertical {
    top : 0;
    bottom: 0;
}

.fill-horizontal {
    width: 100%;
}

.fill-vertical {
    height: 100%;
}

.margin-auto {
    margin: auto;
}

.middle {
    top: 55px;
    bottom: 55px;
}

.header {
    top: 0;
    height: 50px;
    line-height: 50px;
    background-color: green;
}

.footer {
    bottom: 0;
    height: 50px;
    line-height: 50px;
}

.ad-bar {
    background: #ccccff;
}