/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 27, 2014, 10:06:58 PM
    Author     : rogan2929
*/

* {
    /* Disable all of those annoying little zoom and selection features that browsers sometimes have. */
    -webkit-user-drag: none;
    -webkit-user-modify: none;
    -webkit-highlight: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: Verdana, Geneva, sans-serif;
}

img {
    display: block;
}

.tile {
    display: inline-block;
    text-shadow: none !important;
    margin: 0px;
    border: 1px solid #ccc;
    color: white;
}

.bevel-shadow {
    -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75), inset 0 0 15px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.75), inset 0 0 15px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.75), inset 0 0 15px 0px rgba(50, 50, 50, 0.75);
}

.color1 {
    background-color: #ffd761;
}

.color2 {
    background-color: #90d3f0;
}

.color3 {
    background-color: #f6898c;
}

.color4 {
    background-color: #a1d162;
}

.color5 {
    background-color: #e7d5c1;
}

.color6 {
    background-color: #4FE7E7;
}

.color7 {
    background-color: #FFF12A;
}

.color8 {
    background-color: #C299F7;
}

.message-overlay .color1 {
    color: #ffd761;
}

.message-overlay .color2 {
    color: #90d3f0;
}

.message-overlay .color3 {
    color: #f6898c;
}

.message-overlay .color4 {
    color: #a1d162 ;
}

.message-overlay .color5 {
    color: #e7d5c1 ;
}

.message-overlay .color6 {
    color: #4FE7E7 ;
}

.message-overlay .color7 {
    color: #FFF12A ;
}

.message-overlay .color8 {
    color: #C299F7 ;
}

.h-centered {
    text-align: center;
}

.quarter {
    width: 25%;
    max-width: 150px;
}


.third {
    width: 33%;
    max-width: 200px;
}

.half {
    width: 50%;
    max-width: 250px;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.absolute.fill-horizontal {
    left: 0;
    right: 0;
}

.absolute.fill-vertical {
    top : 0;
    bottom: 0;
}

.fill-horizontal {
    width: 100%;
}

.fill-vertical {
    height: 100%;
}

.margin-auto {
    margin: auto;
}

.middle {
    top: 55px;
    bottom: 55px;
}

.header {
    top: 0;
    height: 50px;
    line-height: 50px;
}

.footer {
    bottom: 0;
    height: 50px;
    line-height: 50px;
}

.message-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: rgba(100, 100, 100, 0.65);
}

.message-overlay .content {
    font-size: 5em;
    text-align: center;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    background: white;
    position: absolute;
    top: 0;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.message-overlay .content.long {
    font-size: 2em;
    line-height: normal;
    height: 25%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.header .tile {
    height: 48px;
    font-size: 1.1em;
    position: absolute;
    text-align: center;
    top: 0;
    line-height: normal;
}

.header .tile .ui-btn {
    margin: 5px;
}

.header .tile.left {
    left: 0;
    right: 65%;
}

.header .tile.middle {
    left: 35%;
    right: 35%;
    line-height: 48px;
    vertical-align: middle;
}

.header .tile.right {
    right: 0;
    left: 65%;
}

.border-sized {
    box-sizing: border-box;
}

.popout {
    -webkit-transform-style: preserve-3d;
    -webkit-transition-duration: 0.15s;
    -webkit-transition-property: all;
    -moz-transform-style: preserve-3d;
    -moz-transition-duration: 0.15s;
    -moz-transition-property: all;
    transform-style: preserve-3d;
    transition-duration: 0.15s;
    transition-property: all;    
    -webkit-transform: scale(1.2);
    -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-transform: scale(1.2);
    -moz-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
    transform: scale(1.2);
    box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
    z-index: 100;
}

.absolute.bottom {
    bottom: 0;
}

.h-centered .ui-btn, .ui-btn.half {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.spaced {
    margin-top: 10px;
    margin-bottom: 10px;
}

.bottom-spaced {
    margin-bottom: 10px;
}

.full {
    width: 100%;
    max-width: 350px;
}

iframe.clean {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    min-height: 800px;
}

.no-scroll, .ui-page.no-scroll {
    overflow: hidden;
}

.v-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header, .footer {
    z-index: 101;
}

.google-signin {
    display: block;
    background: #dd4b39;
    color: white;
    width: 130px;
    border-radius: 5px;
    white-space: nowrap;
}
.google-signin:hover {
    background: #e74b37;
    cursor: hand;
}
span.label {
    font-weight: bold;
}
span.icon {
    background: url('vendor/google/images/btn_red_32.png') transparent 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-right: #bb3f30 1px solid;
}
span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto',arial,sans-serif;
}

.hidden {
    display: none;
}